<br><br>

<div class="container-fluid">
  <nav class="navbar navbar-inverse shadow" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> -->
                <!-- <span class="sr-only">Toggle navigation</span> -->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand logo" href="#">Fotki<span id="fotki">24</span></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Start', root_path %></li>
            <li><%= link_to 'O mnie', home_about_path %></li>
            <li><%= link_to 'Lista zdjęć', fotos_path %>

            <% if user_signed_in? %>
                  <li><%= link_to 'Edytuj profil', edit_user_registration_path %></li>
                  <li><%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %></li>
                  <li><%= link_to 'Dodaj fotkę', new_foto_path %></li>
            <% else %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                  <li><%= link_to "Rejestracja", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div><!-- /.navbar-collapse -->

</nav>
</div><!-- /.container-->
