<p id="notice"><%= notice %></p>
<div class = "container-fluid">
  <div class="main">
        <!-- <div class="container table"> -->
          <div class="transitions-enabled">
            <% @fotos.each do |foto| %>
              <div class="box">
                <div class="panel panel-default">
                          <%= link_to image_tag(foto.image.url(:medium)), foto %><br/>
                          <%= foto.description %><br/>
                </div>
                          <% if foto.user == current_user %>
                <div class="panel-footer">
                          <%= link_to 'Edytuj', edit_foto_path(foto) %> |
                          <%= link_to 'Usuń', foto, method: :delete, data: { confirm: 'Jesteś pewny ?' } %>

                </div>
                          <% end %>
              </div>
                          <% end %>
                          <%= link_to '+', new_foto_path %>

            </div>

<div style="clear:both"></div>
  <br>
          <div class="singn">
            <div class="row">
                  <div class="col-md-4 col-xs-4">
                  </div>

                <div class="col-md-4 col-xs-4">
                    <div class="plus text-center">
                      <span class="add">
                        <%= link_to '+', new_foto_path %>
                      </span>
                    </div>
                </div>

                <div class="col-md-4 col-xs-4">
                </div>
          </div>
        </div>


  </div>
</div>
