<p id="notice"><%= notice %></p>


<p>
  <%= image_tag @foto.image.url(:medium) %><br/>
  <strong>Description:</strong>
  <%= @foto.description %>
</p>
<%= image_tag @foto.image.url(:medium) %><br/>
<% if @foto.user == current_user %>
  <%= link_to 'Edytuj', edit_foto_path(@foto) %> |
<% end %>
<%= link_to 'Powrót', fotos_path %>
